.heading {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1 rem;
    display: flex;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #444;
    color: #fff;
}

h1 {
    color: white;
    align-items: center;
}

p {
    color: white;
}

th,
td,
table {
    text-align: center;
    border: 1px solid black;
}

.about_me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }
    img {
        margin-bottom: 1rem;
    }
}